@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Management.WebHost.Models.ReleasesModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
                <div class="jumbotron">
                    <h1>Install Data Service</h1>
                    <p>Click the install button below to install the data service.  It'll just be a few moments, and you'll be up and running.</p>
                    <p>
                        @foreach (var file in Model.Files) { 
                        <a class="btn btn-primary btn-lg" href="@file.Url">@file.Filename</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/jquery-1.9.0.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
