<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="DataHub.ServiceHost.Bootstrapper" Version="$(var.Version)" Manufacturer="Midnight Oil Systems" UpgradeCode="07349bee-eab2-4113-884d-7abf55c5c198">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

    <util:RegistrySearch Id="POSTGRESQLPATH_x64"
                         Root="HKLM"
                         Key="SOFTWARE\PostgreSQL\Installations\postgresql-x64-9.4"
                         Result="exists"
                         Variable="POSTGRESQLINSTALLED_x64"
                         Win64="yes" />

    <util:RegistrySearch Id="POSTGRESQLPATH_x86"
                         Root="HKLM"
                         Key="SOFTWARE\PostgreSQL\Installations\postgresql-9.4"
                         Result="exists"
                         Variable="POSTGRESQLINSTALLED_x86"
                         Win64="no" />

    <Chain>
      <ExePackage Id="PostgreSQL_x64_Installer"
                  Name="postgresql-9.4.0-1-windows-x64.exe"
                  DisplayName="PostgreSQL 9.4"
                  InstallCondition="VersionNT64"
                  DetectCondition="POSTGRESQLINSTALLED_x64"
                  DownloadUrl="http://get.enterprisedb.com/postgresql/postgresql-9.4.0-1-windows-x64.exe"
                  PerMachine="yes">
        <RemotePayload CertificatePublicKey="72C511B090914D9BA108D6D97BB97D76E3B4D630" 
                       CertificateThumbprint="9F7DA2FB091EED1DC830EEB2F1F619D243332A9A" 
                       Hash="17ACF7848BC01394FB40322E67D26C69C99BE2A9" 
                       ProductName="PostgreSQL" 
                       Description="PostgreSQL 9.4"
                       Size="57511896" 
                       Version="9.4.0.1" />
      </ExePackage>

      <ExePackage Id="PostgreSQL_x86_Installer"
                  Name="postgresql-9.4.0-1-windows.exe"
                  DisplayName="PostgreSQL 9.4"
                  InstallCondition="(NOT VersionNT64)"
                  DetectCondition="POSTGRESQLINSTALLED_x86"
                  DownloadUrl="http://get.enterprisedb.com/postgresql/postgresql-9.4.0-1-windows.exe"
                  PerMachine="yes">
        <!-- 
        
        Command line used to generate this information
        C:\src\squirrel-poc>tools\wix-3.9\heat payload c:\Users\User\Downloads\postgresql-9.4.0-1-Windows-x64.exe -out postgresql-x64.wxs
        
        -->
        <RemotePayload CertificatePublicKey="72C511B090914D9BA108D6D97BB97D76E3B4D630" 
                       CertificateThumbprint="9F7DA2FB091EED1DC830EEB2F1F619D243332A9A"
                       Hash="CF5066822634F1076540DE4C35AF74F0D531619F" 
                       ProductName="PostgreSQL" 
                       Description="PostgreSQL 9.4"
                       Size="58689920" 
                       Version="9.4.0.1" />
      </ExePackage>

      <RollbackBoundary />
      
      <MsiPackage Id="DataHubServiceHostMSI"
                  SourceFile="$(var.DataHub.ServiceHost.Setup.TargetPath)"
                  Vital="yes" />
    </Chain>
  </Bundle>
</Wix>