<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER" />
  </Fragment>
  <Fragment>
    <ComponentGroup Id="DataHubServiceHost">
      <Component Id="cmp0CA316DBE534C70B7E7E6AD1A5B2D31E" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil9283C9B1DE7FE659C7067A77745FF3B0" KeyPath="yes" Source="$(var.ServiceHostFiles)\DataHub.ServiceHost.exe" />
        <!-- From: http://www.joyofsetup.com/2008/05/17/new-wix-feature-firewall-extension/ -->
        <fire:FirewallException Id="FWX1" Name="DataHub Service Host" Port="8080" IgnoreFailure="no" Scope="any" Profile="all" />
        <ServiceInstall Name="DataHubServiceHost"
                        DisplayName="DataHub Service Host"
                        ErrorControl="normal"
                        Description="Some Fantastic Description"
                        Start="auto"
                        Type="ownProcess" />
        <ServiceControl Id="DataHubServiceHostControl"
                        Name="DataHubServiceHost"
                        Start="install"
                        Stop="both"
                        Remove="uninstall"
                        Wait="yes" />
      </Component>
      <Component Id="cmpFFCA30133865743598888A031A2AC621" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil0F9E08B6FDAF6FA5A508639C8BC41AF1" KeyPath="yes" Source="$(var.ServiceHostFiles)\DataHub.ServiceHost.exe.config" />
      </Component>
      <Component Id="cmp01AA85052885F814DD68CCEEC4BF6D28" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil2DABFCAF651FA2B530D7940929963FBD" KeyPath="yes" Source="$(var.ServiceHostFiles)\Microsoft.Owin.dll" />
      </Component>
      <Component Id="cmp71D946EC28FE58E6C00ECDC39F372CFD" Directory="INSTALLFOLDER" Guid="*">
        <File Id="filB834FD55BF40276D1D433107773121D3" KeyPath="yes" Source="$(var.ServiceHostFiles)\Microsoft.Owin.FileSystems.dll" />
      </Component>
      <Component Id="cmp6C2923AC7B0A25212CE9047F39203D88" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil97754BF2B6953B97E39ACE563B0F0E02" KeyPath="yes" Source="$(var.ServiceHostFiles)\Microsoft.Owin.FileSystems.xml" />
      </Component>
      <Component Id="cmp2E6B41DBA3E69AC005273653DF0A2ADA" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil51431476551B576E0DE40837C96DAF03" KeyPath="yes" Source="$(var.ServiceHostFiles)\Microsoft.Owin.Host.HttpListener.dll" />
      </Component>
      <Component Id="cmp8AD1138A6535E2030DDB8BF2F6959BF5" Directory="INSTALLFOLDER" Guid="*">
        <File Id="filF7D89B06AB1046B5EF6BEBDA949D23F4" KeyPath="yes" Source="$(var.ServiceHostFiles)\Microsoft.Owin.Host.HttpListener.xml" />
      </Component>
      <Component Id="cmp9C5447F2399454B10B9F0FC887DF9ADB" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil3AB98243EA65101433F69CE219A2DB63" KeyPath="yes" Source="$(var.ServiceHostFiles)\Microsoft.Owin.Hosting.dll" />
      </Component>
      <Component Id="cmp00364872D0BC2B790B11864FDE45628A" Directory="INSTALLFOLDER" Guid="*">
        <File Id="filC78AD7286EBDE65520D8AA273521AFA1" KeyPath="yes" Source="$(var.ServiceHostFiles)\Microsoft.Owin.Hosting.xml" />
      </Component>
      <Component Id="cmp94BF6753BC59DC1C8714A3571BA6009F" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil21EB90BD6FA8BE96D05566DF087DD9F6" KeyPath="yes" Source="$(var.ServiceHostFiles)\Microsoft.Owin.StaticFiles.dll" />
      </Component>
      <Component Id="cmp02637304D0F375EDAD150FE84868A04E" Directory="INSTALLFOLDER" Guid="*">
        <File Id="filD4B191E1AA810FA7721118574DF87D9D" KeyPath="yes" Source="$(var.ServiceHostFiles)\Microsoft.Owin.StaticFiles.xml" />
      </Component>
      <Component Id="cmpB67C988B41CF6589537DF395BD541C70" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil55B3646256BE80E6EA514C06528BBF41" KeyPath="yes" Source="$(var.ServiceHostFiles)\Microsoft.Owin.xml" />
      </Component>
      <Component Id="cmp3C40385889C0A6C29C06D1F58520BED2" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil59B7CA28C1ADB6A9766F27CC284885BD" KeyPath="yes" Source="$(var.ServiceHostFiles)\Nancy.dll" />
      </Component>
      <Component Id="cmpEF20B6915F346EA86C3A079B70D46632" Directory="INSTALLFOLDER" Guid="*">
        <File Id="filB14454079792821784D087462DD60F70" KeyPath="yes" Source="$(var.ServiceHostFiles)\Nancy.Owin.dll" />
      </Component>
      <Component Id="cmpDDF0B99FD962E25479F2F14D0E56B449" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil50FE436796E389870385C9D224C2008B" KeyPath="yes" Source="$(var.ServiceHostFiles)\Nancy.Owin.xml" />
      </Component>
      <Component Id="cmpB3412603A111494BAEDE3F10C3EFF4AA" Directory="INSTALLFOLDER" Guid="*">
        <File Id="filD8DA0E6E14EEFA2C769E93B4FD8D9D81" KeyPath="yes" Source="$(var.ServiceHostFiles)\Nancy.xml" />
      </Component>
      <Component Id="cmpEFC6E6DF45D8BCCD8833915E59A68DD4" Directory="INSTALLFOLDER" Guid="*">
        <File Id="fil3498A6F260EBF4B5230ED05F72D3C390" KeyPath="yes" Source="$(var.ServiceHostFiles)\Owin.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <!--
  I may need these too: 
  <CustomAction Id="CA_Firewall_EnablePing" Execute="deferred" Impersonate="no" Return="check" Directory="TARGETDIR"
                  ExeCommand="[SystemFolder]netsh advfirewall firewall add rule name="ALL ICMP V4" protocol=icmpv4:any,any dir=in action=allow"/>
  <InstallExecuteSequence>
	<Custom Action="CA_Firewall_EnablePing" After="InstallInitialize">NOT Installed</Custom>
    <Custom Action="CA_Firewall_RemoveEnablePing" After="InstallInitialize">Installed AND NOT PATCH</Custom>
  </InstallExecuteSequence>
  -->
</Wix>